@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:100,200,300,400,500,600,700|Roboto&display=swap:100,200,300,400,500,600,700');


/* ...................................colors*/

.bg-color-name-title {
    background-color: #FFD700;
}

.bg-color-what-we-do-for-kids {
    background-color: #BA55D3;
    padding-top: 30px;
}
/* ...................................margins/padding/text*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
}


/*....................................navigation bar*/

/*nav ul {
    list-style: none;
    background-color: #FFF8DC;
    text-align: left;
    margin: 0;
    padding: 1%;
}

nav li {
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin-left: 5%;
    color: #696969;
    text-decoration: none;
 
}

nav a {
    text-decoration: none;
    color: #696969;
    display: inline-block;
}

nav a:hover {
    background-color: #BA55D3;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    padding: 3px 2px;
    
}
*/
/*....................................header*/
header {
    margin: 0;
}

.band {
    background: url("../images/streetparty.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5 ease-in-out;
    -webkit-transition: all .5 ease-in-out;
}


.company{
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-size: 42px;
    margin-top: 50px;
    margin-left: 20px;
    color:  #BA55D3;
    text-shadow: 1px 1px;
}

.name {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-size: 28px;
    margin-top: 50px;
    margin-left: 20px;
    color:  #BA55D3;
   
}

.title {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-size: 26px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 90px;
    color:  #BA55D3;
    
}

/* ...................................section*/
 

.container-fluid {
    padding-right: 15px;
    padding-left: 5px;
   
}
.container-fluid > h2 {
    margin-top: 30px;
    font-size: 4rem;
    
}

.what-we-do-for-kids {
    font-family: "Barlow", sans-serif;
    font-weight: 200;
    font-size: 24px;
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 90px;
    color:  #FFD700; 
    padding-left: 25px;
    

}
.what-we-do-for-kids > p {
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 1rem;
    /*text-align: center;*/
    font-size: 30px;
}
.iframe {
    padding-left: 0;
    padding-right: 0;
}
/* Source Stackoverflow https://bootstrapmaster.com/implement-responsive-youtube-vimeo-embed-iframe-twitter-bootstrap-3/ */
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 60px; overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    
}

.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    
}



/* ...................................footer*/

footer {
 background-color: #FFD700;
    color: #A9A9A9;
    min-height: 80px; 
    margin: 0;

}



.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    
}

.social-links li a i:hover {
    background-color:  #BA55D3
}

#footer-details {
    padding: 20px;
}